<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cjpt.mes.mapper.BomCustomMapper">
	<!-- 用户查询条件 通常情况，为了提高 sql片段可重用性，按单表创建sql片段 -->
	<sql id="query_bom_where">
		<if test="bomCustom!=null">
			<if test="bomCustom.id!=null and bomCustom.id!=''">
				and materiel.id = #{bomCustom.id}
			</if>
			<if test="bomCustom.materielmark!=null and bomCustom.materielmark!=''">
				and materiel.materielmark = #{bomCustom.materielmark}
			</if>
		</if>
	</sql>
	
	<!-- 查询最大remark1的条件 -->
	<sql id="query_findBomListMaxRemark1_where">
		<if test="bomCustom!=null">
			<if test="bomCustom.materielmethod!=null and bomCustom.materielmethod!=''">
				and mm.materielmethod = #{bomCustom.materielmethod}
			</if>
			<if test="bomCustom.materielmark!=null and bomCustom.materielmark!=''">
				and mm.materielmark = #{bomCustom.materielmark}
			</if>
		</if>
	</sql>

	<!-- BOM查询 -->
	<select id="findBomList" parameterType="cn.cjpt.mes.pojo.vo.BomQueryVo"
		resultType="cn.cjpt.mes.pojo.vo.BomCustom">
		<!-- select * from Materiel -->
		select m.*,c.cname as ctname from Materiel m left join Ctype c on
		m.ctypeid=c.id
		<where>
			<include refid="query_bom_where" />
		</where>
		order by to_number（remark1）
	</select>

	<!-- 查询列表的总记录数 -->
	<select id="findBomCount" parameterType="cn.cjpt.mes.pojo.vo.BomQueryVo"
		resultType="int">
		select count(*) from Materiel

		<where>
			<include refid="query_bom_where" />
		</where>

	</select>
	
	<!-- BOM查询 -->
	<select id="findBomListMaxRemark1" parameterType="cn.cjpt.mes.pojo.vo.BomQueryVo"
		resultType="cn.cjpt.mes.pojo.vo.BomCustom">
		<!-- select * from Materiel -->
		select t.*, t.rowid from MATERIEL t where t.remark1 = (select max(remark1) from (select to_number(remark1)as remark1 from MATERIEL mm
		<where>
			<include refid="query_findBomListMaxRemark1_where" />
		</where>
		 ))
	</select>
	
	<!--查询出自产ctypeid为1，且生产方式不为外购的bom-->
	<select id="findBom" parameterType="cn.cjpt.mes.pojo.vo.BomQueryVo"
		resultType="cn.cjpt.mes.pojo.vo.BomCustom">
		<!-- select * from Materiel -->
		select t.*, t.rowid from MATERIEL t where t.ctypeid='1' and t.materielmethod !='外购' order by to_number(remark1)
	</select>

</mapper>