<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cjpt.mes.mapper.MaintenanceMapper" >
  <resultMap id="BaseResultMap" type="cn.cjpt.mes.pojo.po.Maintenance" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TOOLNAME" property="toolname" jdbcType="VARCHAR" />
    <result column="SPECIFICATIONS" property="specifications" jdbcType="VARCHAR" />
    <result column="MTIME" property="mtime" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="PERSON" property="person" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TOOLNAME, SPECIFICATIONS, MTIME, NOTE, PERSON
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.cjpt.mes.pojo.po.MaintenanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MAINTENANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from MAINTENANCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from MAINTENANCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.cjpt.mes.pojo.po.MaintenanceExample" >
    delete from MAINTENANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.cjpt.mes.pojo.po.Maintenance" >
    insert into MAINTENANCE (ID, TOOLNAME, SPECIFICATIONS, 
      MTIME, NOTE, PERSON
      )
    values (#{id,jdbcType=VARCHAR}, #{toolname,jdbcType=VARCHAR}, #{specifications,jdbcType=VARCHAR}, 
      #{mtime,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{person,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cjpt.mes.pojo.po.Maintenance" >
    insert into MAINTENANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="toolname != null" >
        TOOLNAME,
      </if>
      <if test="specifications != null" >
        SPECIFICATIONS,
      </if>
      <if test="mtime != null" >
        MTIME,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="person != null" >
        PERSON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="toolname != null" >
        #{toolname,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="person != null" >
        #{person,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.cjpt.mes.pojo.po.MaintenanceExample" resultType="java.lang.Integer" >
    select count(*) from MAINTENANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MAINTENANCE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.toolname != null" >
        TOOLNAME = #{record.toolname,jdbcType=VARCHAR},
      </if>
      <if test="record.specifications != null" >
        SPECIFICATIONS = #{record.specifications,jdbcType=VARCHAR},
      </if>
      <if test="record.mtime != null" >
        MTIME = #{record.mtime,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        NOTE = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.person != null" >
        PERSON = #{record.person,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MAINTENANCE
    set ID = #{record.id,jdbcType=VARCHAR},
      TOOLNAME = #{record.toolname,jdbcType=VARCHAR},
      SPECIFICATIONS = #{record.specifications,jdbcType=VARCHAR},
      MTIME = #{record.mtime,jdbcType=VARCHAR},
      NOTE = #{record.note,jdbcType=VARCHAR},
      PERSON = #{record.person,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cjpt.mes.pojo.po.Maintenance" >
    update MAINTENANCE
    <set >
      <if test="toolname != null" >
        TOOLNAME = #{toolname,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        SPECIFICATIONS = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null" >
        MTIME = #{mtime,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="person != null" >
        PERSON = #{person,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cjpt.mes.pojo.po.Maintenance" >
    update MAINTENANCE
    set TOOLNAME = #{toolname,jdbcType=VARCHAR},
      SPECIFICATIONS = #{specifications,jdbcType=VARCHAR},
      MTIME = #{mtime,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      PERSON = #{person,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>